[submodule "hugo/prueba2"]
	path = hugo/prueba2
	url = https://github.com/leikercg/prueba2.git
[submodule "hugo/themes/hugo-bearcub"]
	path = hugo/themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "hugo/vehiculos/themes/hugo-bearcub"]
	path = hugo/vehiculos/themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "hugo/vehiculos"]
	path = hugo/vehiculos
	url = https://github.com/leikercg/vehiculos.git
