
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;

}
section{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-width: 100vw;
}
nav{
    width: 40%;
    height: 100vh;
}
nav  img{
    width: 100%;
}

