a {
    text-decoration: none;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100vw;
}

section {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
}

nav {
    width: 40%;
    height: 100vh;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}

nav form,
#generos {
    font-size: x-large;
}

/*imagen its free*/
nav img {
    width: 100%;
}

/*contenedor izquierdo*/
#contenedorIzquierdo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

/*botones izquierdos*/
#botonesIzquierdos {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

#botonesIzquierdos a {
    background-color: black;
    border-radius: 7px;
    color: white;
    height: 35px;
    width: 230px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

.campo {
    width: 80%;
}

#generos .fila {
    justify-content: space-between;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fila a {
    font-size: medium;
    text-decoration: none;
    height: 30px;
    width: 150px;
    background-color: black;
    border-radius: 7px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#terror {
    justify-content: center;
    align-items: center;
    display: flex;
}

#terror a {
    text-decoration: none;
    height: 30px;
    width: 150px;
    background-color: black;
    border-radius: 7px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: medium;
}

/*********************************************************************/
main {
    width: 60%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

#contenedorDerecha {
    padding: 10%;
}

.portada {
    width: 250px;
}


/***********************  VISTA PELÃCULA*********************/
#pelicula{
    display: flex;
    position: relative;
    align-items: center;
}

#datos{
    margin-left: 30px;
}
#pelicula>div>img{
    width: 300px;
}



.writer{
    position: relative;
    left: 105px;
}
#synopsis{
    margin-top: 20px;
    display: flex;
}
